<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c.m.sssm3.mapper.UserMapper">
	<select id="getData" resultType="java.lang.String" parameterType="userVo"	> 
		select uname from users where uname= #{uname}  and upassword=#{upassword}
	</select>
	
	<insert id="addData" parameterType="userVo"  >
		insert into users(uname,upassword) value(#{uname},#{upassword})
	</insert>
</mapper>
